
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.openpage {
    justify-content: center;
    height: 980px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #0990bdb9, pink);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 250px;
    font-family: 'Poppins';
}

.headertext h2 {
    font-size: 64px;
    color: #fff;
    font-weight: lighter;
}

.headertext h2 span {
    color: lightpink;
}

button#startquiz {
    padding: 25px 70px 25px 70px;
    border-radius: 12px;
    border: transparent;
    font-size: 18px;
}

button#startquiz:hover {
    background: pink;
    color: black;
    opacity: 2s;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.55s;
    border: transparent;
}


.secondpage {
    height: 980px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #0990bdb9, pink);
    color: #fff;
}

.secondpage h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 38px;
    font-weight: lighter;
}
.que {
    padding-left: 36%;
    line-height: 1.7;
}

.secondpage h2 span {
    color: #fdfd28;
}

.que span {
    padding-left: 20px;
    font-size: 20px;
}

p#questionOne {
    font-size: 26px;
}
p#questionTwo {
    font-size: 26px;
}

p#questionThree {
    font-size: 26px;
}

p#questionFour {
    font-size: 26px;
}

button.submit {
    margin-left: 80%;
    padding: 15px 50px 15px 50px;
    border-radius: 12px;
    border: transparent;
    background:#fddae0;
    font-size: 18px;
    
}

button.submit:hover {
    background: rgb(247, 149, 165);
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition-duration: 0.55s;
    border: transparent;
}



.goodmarks {
    height: 980px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #0990bdb9, pink);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.headerscore h2 {
    font-size: 64px;
    font-weight: lighter;
}

p#goodscore {
    text-align: center;
    font-size: 64px;
}

p#goodremarks {
    text-align: center;
    font-size: 48px;
}

.headerscore {
    line-height: 2;
}

p#goodcomments {
    text-align: center;
    font-size: 30px;
}

.retrybutton {
    padding-left: 150px;
}

button#retry {
    background: transparent;
    border: transparent;
    color: #48292e
}

#retry:hover {
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}

.headerscore h2 span {
    color: lightpink;
}
#goodremarks span {
    color: lightpink
}

#goodcomments span {
    color: pink;
}



.averagemarks {
    height: 980px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #0990bdb9, pink);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.headerscore h2 {
    font-size: 64px;
    font-weight: lighter;
}

p#averagescore {
    text-align: center;
    font-size: 64px;
}

p#averageremarks {
    text-align: center;
    font-size: 48px;
}

.headerscore {
    line-height: 2;
}

p#averagecomments {
    text-align: center;
    font-size: 30px;
}

.retrybutton {
    padding-left: 150px;
}

button#retry {
    background: transparent;
    border: transparent;
    color: #48292e
}

#retry:hover {
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}

.headerscore h2 span {
    color: lightpink;
}
#averageremarks span {
    color: lightpink
}

#averagecomments span {
    color: pink;
}



.poormarks {
    height: 980px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #0990bdb9, pink);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';

}

.headerscore h2 {
    font-size: 64px;
    font-weight: lighter;
}

p#poorscore {
    text-align: center;
    font-size: 64px;
}

p#poorremarks {
    text-align: center;
    font-size: 48px;
}

.headerscore {
    line-height: 2;
}

p#poorcomments {
    text-align: center;
    font-size: 30px;
}

.retrybutton {
    padding-left: 150px;
}

button#retry {
    background: transparent;
    border: transparent;
    color: #48292e
}

#retry:hover {
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}
button#retry2 {
    background: transparent;
    border: transparent;
    color: #48292e
}

#retry2:hover {
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}

button#retry3 {
    background: transparent;
    border: transparent;
    color: #48292e
}

#retry3:hover {
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}

.headerscore h2 span {
    color: lightpink;
}
#poorremarks span {
    color: lightpink
}

#poorcomments span {
    color: pink;
}

#quizgroup, #excellentMarks, #averageMarks,#PoorMarks {
    display: none;
}